* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

/* BG IMAGE */
.bg {
    position: fixed;
    inset: 0;
    background: url("bgmi.jpg") center/cover no-repeat;
    filter: blur(3px);
    z-index: -1;
}

/* PERFECT CENTER */
.page-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.card {
    width: 380px;
    padding: 28px;
    background: rgba(15, 20, 25, 0.85);
    border-radius: 18px;
    text-align: center;
    color: #fff;
}

/* LOGO */
.logo {
    width: 90px;
    margin-bottom: 12px;
}

h1 {
    margin: 10px 0 4px;
}

.subtitle {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 18px;
}

/* INPUTS */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #101820;
    color: white;
}

/* ERRORS */
.error {
    display: block;
    color: #ff4d4d;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 12px;
    text-align: left;
}

/* BUTTON */
button {
    width: 100%;
    padding: 14px;
    background: #2ecc71;
    color: black;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.note {
    font-size: 12px;
    opacity: 0.7;
    margin-top: 12px;
}

/* ===== SUCCESS POPUP ===== */
.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}


.popup-box {
    background: #0f1a1f;
    padding: 30px 40px;
    border-radius: 16px;
    text-align: center;
    color: white;
}

.tick {
    font-size: 48px;
    color: #2ecc71;
}

.loader {
    margin: 15px auto;
    width: 30px;
    height: 30px;
    border: 4px solid #2ecc71;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.redirect-text {
    font-size: 13px;
    opacity: 0.7;
}
